* {
    box-sizing: border-box;
  }

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #FB6B6B;
  }

.tela-inicial {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.logo{
  position: fixed;
  top: 150px;
}

.logo img{
  width: 136px;
  height: 161px;
}

h1 {
  font-size: 36px;
  color: #FFFFFF;
}

.botao-inicio{
  width: 246px;
  height: 54px;
  /* display: flex; */
  position: fixed;
  bottom: 218px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  color: #D70900;
}

header{
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 36px;
  color: #FFFFFF;
}
header img{
  width: 52px;
  height: 60px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  
}

.cartas{
  padding-bottom: 95px;
}

.carta {
  width: 300px;
  height: 65px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.carta.selecionada{
  flex-direction: column;
  align-items: flex-start;
  width: 299px;
  height: 131px;
  padding: 18px 15px;
  background-color: #FFFFD5;
  font-weight: 400;
  font-size: 18px;
}

.carta.selecionada ion-icon{
  position:absolute;
  bottom: 6px;
  right: 15px;
}


ion-icon{
  width: 20px;
  height: 23px;
  --ionicon-stroke-width: 48px;
}

.botoes{
  display: flex;
  margin-left: 7px;
  justify-content: space-between;
}

.nao-lembrei{
  width: 85px;
  height: 37px;
  background: #FF3030;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
}

.quase-nao-lembrei{
  width: 85px;
  height: 37px;
  background: #FF922E;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
}

.zap{
  width: 85.17px;
  height: 37.17px;
  background: #2FBE34;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  color: #FFFFFF;

}

.incorreta {
  text-decoration-line: line-through;
  color: #FF3030;
}
.quase-correta {
  text-decoration-line: line-through;
  color: #FF922E;
}
.correta {
  text-decoration-line: line-through;
  color: #2FBE34;
}